* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF)
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipe-animation 1.5s linear infinite;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0;
}

.jump {
    animation: jump 500ms infinite ease-out;
}

.clouds {
    position: absolute;
    width: 400px;
    animation: clouds-animation 20s linear infinite;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 400px;
    background-color: #e82125;
    border-radius: 12px;
    text-align: center;
}

.board h2 {
    margin: 0 auto 40px;
    color: #fff;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 26px;
    color: #e82125;
    background-color: #fff;
    height: 40px;
    border-radius: 50px;
    text-decoration: none;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}